@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Index";
}
<h1>Listagem dos contactos</h1>

<table class="table">
    <a class="btn btn-primary" asp-controller="Contact" asp-action="Create">Novo contacto</a>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email Address</th>
            <th>Operação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.ContactNumber</td>
                <td>@item.EmailAddress</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>